<div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <picture [routerLink]="['/product/', product()._id]">
        <img class="cursor-pointer rounded-t-lg h-60 w-full object-cover" [src]="product().image" alt="" />
    </picture>
    <div class="p-5">
        <a [routerLink]="['/product/', product()._id]">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white line-clamp-1">
                {{product().title}}</h5>
        </a>
        <span class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-3">{{product().price |
            currency}}</span>
        @if(isAuthenticated.getUserRole()){
        <div class="flex max-xl:flex-wrap">
            <button (click)="edit($event)"
                class="inline-flex items-center gap-2 text-center text-whitebg-green-700 hover:bg-orange-800 focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-orange-600 dark:orange:bg-orange-700 focus:outline-none dark:focus:ring-orange-800">
                <i class="fas fa-pen"></i>
                Editar
            </button>
            <button (click)="delete($event)"
                class="inline-flex items-center gap-2 text-center text-whitebg-green-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:red:bg-red-700 focus:outline-none dark:focus:ring-red-800">
                <i class="fas fa-trash-alt"></i>
                Eliminar
            </button>
        </div>
        }
        @else {
        <button (click)="add($event)"
            class="inline-flex items-center text-center text-whitebg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312" />
            </svg>
            Agregar al carrito
        </button>
        }
    </div>
    @if(showUpdateModal){
    <app-update-product />
    }
</div>